.demo {
  background-color: $colorWhite;
  overflow: hidden;
  border-radius: 0.5rem;

  &__preview {
    padding: 1.5rem;
    border: 1px solid rgba($colorBlack, 0.1);
    border-bottom-width: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  &__source {
    // background-color: $colorBlack;
  }

  &__tabs {
    padding: 1rem 1.5rem 0 1.5rem;
    background-color: rgba($colorBlack, 0.9);
  }

  &__tab {
    display: inline-flex;
    position: relative;
    background-color: transparent;
    color: rgba($colorWhite, 0.7);
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    margin-right: 0.5rem;

    &:first-child {
      margin-left: -0.5rem;
    }

    &.is-active,
    &:hover {
      color: $colorWhite;
      background-color: rgba($colorWhite, 0.1);
    }
  }

  &__code {
    pre {
      margin: 0;
      border-radius: 0;
    }
  }

  &__link {
    padding: 1rem 1.5rem;
  }

  &__error {
    padding: 1rem 1.5rem;
    color: $colorRed;
    background-color: rgba($colorRed, 0.1);
  }
}