.demo {
  overflow: hidden;
  border-radius: 0.5rem;

  &__preview {
    padding: 1.25rem;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-width: 0;
    color: $colorBlack;
    background-color: $colorWhite;
    max-height: 50rem;
    overflow: auto;
    scroll-behavior: smooth;
    border: 1px solid rgba($colorBlack, 0.1);
  }

  &__source {
    border: 1px solid rgba($colorBlack, 0.1);
    background-color: $colorBlack;
  }

  &__tabs {
    padding: 1rem 1.25rem 0 1.25rem;
    background-color: rgba($colorBlack, 0.9);
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__tab {
    display: inline-flex;
    position: relative;
    background-color: transparent;
    color: rgba($colorWhite, 0.7);
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    margin-right: 0.5rem;

    &:first-child {
      margin-left: -0.5rem;
    }

    &.is-active,
    &:hover {
      color: $colorWhite;
      background-color: rgba($colorWhite, 0.1);
    }
  }

  &__code {
    pre {
      margin: 0;
      border-radius: 0;
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 1.25rem;
    font-size: 0.85rem;
    border: 1px solid rgba($colorWhite, 0.1);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top-width: 0;
    background-color: $colorBlack;
    white-space: nowrap;
  }

  &__name {
    display: none;

    @media (min-width: 600px) {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 0.5rem;
    }
  }

  &__link {
    margin-left: auto;
  }

  &__error {
    padding: 1rem 1.5rem;
    color: $colorRed;
    background-color: rgba($colorRed, 0.1);
  }

  &__skeleton {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: $colorWhite;
    min-height: 20rem;
    opacity: 0.1;
  }
}
