*.log
.cache
.DS_Store
.temp
node_modules
dist
.env
.env.*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# parcel-bundler cache (https://parceljs.org/)
.cache

.rpt2_cache
.rts2_cache
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_umd

tests/cypress/videos
/tests/cypress/screenshots
# Ignore intellij project files
.idea
