/* Basic editor styles */
.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  .prosemirror--invisible {
    position: relative;
    padding: 0 2px;
  }

  .prosemirror--invisible:before {
    content: '';
    color: #aaa;
    position: absolute;
  }

  .prosemirror--invisible.type-space:before {
    content: '·'
  }

  .prosemirror--invisible.type-break:before {
    content: '¬'
  }

  .prosemirror--invisible.type-paragraph:before {
    content: '¶'
  }
}
