.btn-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;
  }

  > .btn {
    margin-bottom: 0.75rem;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: 600px) {
      margin-bottom: 0;
      margin-right: 0.75rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
