.toc {
  background: rgba(black, 0.1);
  border-radius: 0.5rem;
  opacity: 0.75;
  padding: 0.75rem;

  &__list {
    list-style: none;
    padding: 0;

    &::before {
      content: "Table of Contents";
      display: block;
      font-size: 0.75rem;
      font-weight: 700;
      letter-spacing: 0.025rem;
      opacity: 0.5;
      text-transform: uppercase;
    }
  }

  &__item {
    a:hover {
      opacity: 0.5;
    }

    &--3 {
      padding-left: 1rem;
    }

    &--4 {
      padding-left: 2rem;
    }

    &--5 {
      padding-left: 3rem;
    }

    &--6 {
      padding-left: 4rem;
    }
  }
}
