:root {
  --docsearch-primary-color: #{$colorBlack} !important;
  --docsearch-logo-color: #{rgba($colorBlack, 0.3)} !important;
  --docsearch-container-background: #{rgba($colorBlack, 0.7)} !important;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 8px;
  background-color: rgba($colorBlack, 0);
}

:hover::-webkit-scrollbar-thumb {
  background-color: rgba($colorBlack, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba($colorBlack, 0.15);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::selection {
  background: rgba($colorBlue, 0.5);
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  font-feature-settings: 'cv05' 1;
  background-color: $colorWhite;
  color: $colorText;
}

*[id] {
  scroll-margin-top: 2rem;
  scroll-snap-margin-top: 2rem;
}

button {
  font: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  transition: color 0.2s $ease, background-color 0.2s $ease;
  text-decoration: none;
}

code {
  font-family: 'JetBrainsMono', monospace;
  padding: 0.1rem 0.3rem;
  border-radius: 0.4rem;
  font-size: 0.9rem;
}

.is-active {
  background: black;
  color: white;
}

.DocSearch-Container {
  position: fixed !important;
  height: 100vh !important;
}

.text {
  $spacing: 0.75em;

  > p {
    &.is-large {
      font-size: 1.2rem;
    }
  }

  > div,
  > p,
  > ul,
  > ol,
  > blockquote {
    margin-top: 2 * $spacing;
    margin-bottom: 2 * $spacing;
  }

  > ul li,
  > ol li,
  > ul ul,
  > ul ol,
  > ol ol,
  > ol ul {
    margin-top: 0.5 * $spacing;
    margin-bottom: 0.5 * $spacing;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    color: $colorBlack;
    margin-top: 3 * $spacing;
    margin-bottom: $spacing;

    & + * {
      margin-top: 0;
    }
  }

  > h1,
  > h4,
  > h5,
  > h6 {
    a {
      display: none;
    }
  }

  > h1,
  > .is-h1 {
    font-size: 2rem;
    line-height: 1.15;

    @media (min-width: 600px) {
      font-size: 2.75rem;
    }

    &.is-large {
      font-size: 2.5rem;

      @media (min-width: 600px) {
        font-size: 3.75rem;
      }
    }
  }

  > h2,
  > .is-h2 {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  > h2,
  > h3 {
    position: relative;

    a {
      position: absolute;
      top: 0;
      right: 100%;
      color: rgba($colorBlack, 0.4);
      text-decoration: none;
      font-weight: 400;
      padding-right: 0.5rem;
      opacity: 0;
      transition: opacity 0.1s $ease;
    }

    &:hover a {
      opacity: 1;
    }
  }

  > p > img {
    max-width: 100%;
    border-radius: 0.75rem;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }

  > p code,
  > ul code,
  > ol code,
  > .table-wrapper code,
  > .remark-container code {
    background-color: $colorYellow;
    box-decoration-break: clone;
    font-weight: 700;
  }

  > p a,
  > ul a,
  > ol a,
  > .table-wrapper a,
  > .remark-container a {
    text-decoration: underline;

    code {
      text-decoration: underline;
    }
  }

  #toc {
    display: none;

    & + ul {
      list-style: none;
      border: 3px solid $colorBlack;
      padding: 1.25rem !important;
      border-radius: 0.75rem;

      &::before {
        display: block;
        content: 'On this page';
        font-weight: 700;
        letter-spacing: 0.025rem;
        font-size: 0.75rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }

      li {
        padding-left: 0;

        &::before {
          display: none;
        }

        ul {
          list-style: none;
          margin-left: 1rem;
        }
      }
    }
  }

  p a img[src^="https://img.shields.io"] {
    margin-right: 0.5rem;
  }

  > ul {
    list-style: none;

    li {
      position: relative;
      padding-left: 1.25rem;

      &::before {
        position: absolute;
        left: 0;
        display: inline-block;
        margin-right: 0.75rem;
        content: "\2022";
        color: $colorBlack;
      }
    }
  }

  > ol {
    list-style: none;
    counter-reset: item;

    li {
      position: relative;
      padding-left: 2.5rem;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        width: 1.5rem;
        background-color: $colorBlack;
        border-radius: 9999px;
        color: $colorWhite;
        font-size: 0.75rem;
        font-weight: 700;
        content: counter(item);
        counter-increment: item;
      }
    }
  }

  > .table-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    > table {
      width: 100%;
      border-collapse: collapse;
      font-size: 0.85rem;
      text-align: left;

      th,
      td {
        padding: 0.5rem;
        min-width: 8rem;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }

      th {
        white-space: nowrap;
        color: $colorBlack;
        font-size: 0.9rem;
        font-weight: 700;
        border-bottom: 3px solid $colorBlack;
      }

      td {
        border-bottom: 1px solid $colorBlack;
      }

      tr:last-child td {
        border-bottom: 0;
      }

      tbody tr {
        &:last-child td {
          border-bottom: 0;
        }

        &:hover {
          background: $colorYellow;
        }
      }
    }
  }

  > .remark-container {
    padding: 1rem 1.25rem;
    border-radius: 0.75rem;
    border: 3px solid $colorBlack;

    &.warning {
      background-color: $colorYellow;
    }

    &.info {
      background-color: $colorBlue;
    }

    &.error {
      background-color: $colorRed;
    }

    &.pro {
      background-color: $colorBlack;
      color: $colorWhite;
    }

    .remark-container-title {
      font-size: 1.1rem;
      font-weight: 700;
      margin-bottom: 0.25rem;
    }
  }

  > blockquote {
    border-left: 1px solid rgba($colorGrey, 0.5);
    padding-left: 2 * $spacing;
  }

}
