*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 8px;
  background-color: rgba($colorWhite, 0);
}

:hover::-webkit-scrollbar-thumb {
  background-color: rgba($colorWhite, 0.1);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  font-feature-settings: 'cv05' 1;
  background-color: $colorWhite;
  color: $colorText;
}

*[id] {
  scroll-margin-top: 6rem;
  scroll-snap-margin-top: 6rem;
}

button {
  font: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  transition: color 0.2s $ease, background-color 0.2s $ease;
  text-decoration: none;

  &:hover {
    color: $colorBlack;
  }
}

code {
  font-family: 'JetBrainsMono', monospace;
  padding: 0.1rem 0.3rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}

.is-active {
  background: black;
  color: white;
}

.DocSearch,
.DocSearch-Container {
  filter: saturate(0);
}
