.page-navigation {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;

  &__link {
    color: rgba($colorBlack, 0.6);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;

    &:hover {
      color: $colorBlack;
      background-color: rgba($colorBlack, 0.05);
    }
  }
}
