.page-navigation {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;

  &__link {
    font-weight: 500;
    color: rgba($colorWhite, 0.6);

    &:hover {
      color: $colorWhite;
    }
  }
}
