.live-demo {
  background-color: $colorWhite;
  overflow: hidden;
  border-radius: 0.75rem;

  &__preview {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-width: 0;
  }

  &__tab {
    display: inline-flex;
    position: relative;
    background-color: transparent;
    color: rgba($colorWhite, 0.7);
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    margin-right: 0.5rem;

    &:first-child {
      margin-left: -0.5rem;
    }

    &.is-active,
    &:hover {
      color: $colorWhite;
      background-color: rgba($colorWhite, 0.1);
    }
  }

  &__code {
    pre {
      margin: 0;
      border-radius: 0;
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 1.25rem;
    border: 1px solid rgba($colorWhite, 0.1);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top-width: 0;
    background-color: $colorBlack;
  }

  &__error {
    padding: 1.25rem;
    color: $colorRed;
    background-color: rgba($colorRed, 0.1);
  }
}
