/* Basic document styles */
:root {
  color-scheme: dark;
}

body {
  box-sizing: border-box;
  margin: 0;
  background: #1d1d1d;
  font-family: sans-serif;
  line-height: 1.4;
  color: #e6e6e6;
  padding: 0;
  min-height: 100vh;
}

button {
  background-color: rgba(#ffffff, 0.2);
  color: rgba(#ffffff, 0.8);
  border: 2px solid #1d1d1d;
  border-radius: 0.4em;
}

button:hover {
  background-color: rgba(#ffffff, 0.3);
}

button:disabled {
  background-color: rgba(#ffffff, 0.1);
  color: rgba(#ffffff, 0.2);
}

/* Basic editor styles */
.tiptap {
  &:focus-visible {
    outline: none;
  }

  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background: rgba(#ffffff, 0.1);
    color: rgba(#ffffff, 0.6);
    border: 1px solid rgba(#ffffff, 0.1);
    border-radius: 0.5rem;
    padding: 0.2rem;
  }

  pre {
    background: rgba(#ffffff, 0.1);
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
      border: none;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    margin-left: 0;
    padding-left: 1rem;
    border-left: 2px solid rgba(#ffffff, 0.4);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#ffffff, 0.1);
    margin: 2rem 0;
  }
}

.editor-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: row;

  > :first-child {
    border-right: solid 3px #0d0d0d;
  }
}

.editor {
  width: 50vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    position: sticky;
    top: 0;
    z-index: 100;
    align-items: center;
    background: #0d0d0d;
    border-bottom: 3px solid #0d0d0d;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    padding: 0.25rem;
  }

  &__content {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 1rem;
    -webkit-overflow-scrolling: touch;
  }

  &__footer {
    position: sticky;
    bottom: 0;
    z-index: 100;
    background-color: #0d0d0d;
    align-items: center;
    border-top: 3px solid #0d0d0d;
    color: #fff;
    display: flex;
    flex: 0 0 auto;
    font-size: 12px;
    flex-wrap: wrap;
    font-weight: 600;
    justify-content: space-between;
    padding: 0.25rem 0.75rem;
    white-space: nowrap;
  }

  /* Some information about the status */
  &__status {
    align-items: center;
    border-radius: 5px;
    display: flex;

    &::before {
      background: rgba(#0d0d0d, 0.5);
      border-radius: 50%;
      content: " ";
      display: inline-block;
      flex: 0 0 auto;
      height: 0.5rem;
      margin-right: 0.5rem;
      width: 0.5rem;
    }

    &--connecting::before {
      background: #616161;
    }

    &--connected::before {
      background: #b9f18d;
    }
  }

  &__name {
    button {
      background: none;
      cursor: pointer;
      border: none;
      border-radius: 0.4rem;
      color: #fff;
      font: inherit;
      font-size: 12px;
      font-weight: 600;
      padding: 0.25rem 0.5rem;

      &:hover {
        background-color: #0d0d0d;
        color: #fff;
      }
    }
  }
}

/* Give a remote user a caret */
.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}
