/* Basic editor styles */
.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }
}

header {
  padding: 0.5rem;
}

main {
  padding: 1rem;
}

footer {
  padding: 0.5rem;
}

nav {
  display: flex;
  align-items: center;
}

.divider {
  background-color: rgba(#000, 0.1);
  height: 1.25rem;
  margin: 0 0.75rem;
  width: 2px;
}

.message-box {
  border: solid black 3px;
  border-radius: 1rem;
}

// Placeholder
.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

// Blockquote
blockquote {
  border-left: 3px solid rgba(#0d0d0d, 0.1);
  padding-left: 0.5rem;
  margin-left: 0;
}
