/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  iframe {
    border: 8px solid #000;
    border-radius: 4px;
    display: block;
    min-width: 200px;
    min-height: 200px;
    outline: 0px solid transparent;
  }

  div[data-youtube-video] {
    cursor: move;
    padding-right: 24px;
  }

  .ProseMirror-selectednode iframe {
    outline: 6px solid #ece111;
    transition: outline 0.15s;
  }
}
