@import "~variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

	&:focus {
		outline: none;
	}
}

*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
	font-size: 18px;
	color: $color-black;
	line-height: 1.5;
}

body {
	margin: 0;
}


h1,
h2,
p,
ul,
ol,
pre {
	margin: 1rem 0;

  &:first-child {
    margin-top: 0;
	}

  &:last-child {
    margin-bottom: 0;
  }
}