/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  // Mathematics extension styles
  .Tiptap-mathematics-render {
    padding: 0 0.25rem;

    &--editable {
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: #eee;
      }
    }
  }

  .Tiptap-mathematics-render {
    border-radius: 0.25rem;

    &[data-type='inline-math'] {
      display: inline-block;
    }

    &[data-type='block-math'] {
      display: block;
      margin: 1rem 0;
      padding: 1rem;
      text-align: center;
    }

    &.inline-math-error,
    &.block-math-error {
      background: var(--red-light);
      color: var(--red);
      border: 1px solid var(--red-dark);
      padding: 0.5rem;
      border-radius: 0.25rem;
    }
  }
}
