$black: #0d0d0d;

/* Basic editor styles */
.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }
}

.conversation {
  width: 100%;
  margin-bottom: 1rem;
  min-height: 14rem;
  max-height: 14rem;
  overflow-y: auto;
  padding: 1rem;

  pre {
    margin-top: 0;
  }

  code {
    padding: 1rem;
  }
}

.conversation,
.editor {
  border: solid 3px $black;
  border-radius: 0.75rem;
}

header,
footer {
  padding: 0.25rem;
}

header {
  border-bottom: solid 3px $black;
}

main {
  padding: 0.5rem 1rem;
  max-height: 10rem;
  overflow-y: auto;
}

footer {
  border-top: solid 3px $black;

  nav {
    justify-content: space-between;
  }
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.button-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

button {
  cursor: pointer;
  white-space: nowrap;
  margin: 0.25rem 2px;

  &[id="send"] {
    background-color: $black;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.divider {
  background-color: lighten($color: $black, $amount: 80);
  height: 1.25rem;
  margin: 0 0.75rem;
  width: 2px;
}

// Placeholder
.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

// Paragraph
p {
  margin: 0;
}

// Blockquote
blockquote {
  border-left: 3px solid rgba($black, 0.1);
  padding-left: 1rem;
  margin-left: 0;
}

// Code
code {
  background-color: rgba(#616161, 0.1);
  border-radius: 0.25em;
  box-decoration-break: clone;
  color: #616161;
  font-size: 0.8rem;
  padding: 0.25em;
}

pre code {
  display: block;
}

// Mention
.mention {
  border: 1px solid #000;
  border-radius: 0.4rem;
  padding: 0.1rem 0.3rem;
  box-decoration-break: clone;
}
