# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Release new version

# on github release published or workflow_dispatch
on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: actions/setup-node@v4.0.0
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run publish
        name: "Publish release (current) to NPM"
        if: "!github.event.release.prerelease"
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - run: npm run publish:pre
        name: "Publish release (next) to NPM"
        if: "github.event.release.prerelease"
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
