@import "~variables";

.banner {
  font-size: 0.9rem;
  background-color: $color-white;
  color: $color-black;
  border-bottom: 1px solid $color-grey;
  text-align: center;
  padding: 0.5rem 1rem;

  &__action {
    display: inline-block;
    border: 3px solid $color-grey;
    font-weight: bold;

    transition: 0.1s ease-in-out all;
    text-decoration: none;
    padding: 0.4rem 0.7rem;
    margin: 0.5rem 0.5rem 0.25rem;
    border-radius: 5px;
    white-space: nowrap;

    &:hover {
      border-color: $color-black;
    }
  }

  &__message {
    @media all and (max-width: 600px) {
      display: block;
    }
  }
}

